.btn-primary {
  background-color: rgb(98, 70, 234);
  color: rgb(255, 255, 254);
  opacity: 0.8;
  transform-style: preserve-3d;
  margin-top: 2.5rem;
  padding: 0.25rem 1.5rem;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
  width: fit-content;
}

.btn-primary:hover {
  background-color: rgb(98, 70, 234);
  opacity: 1;
}
