.form-label {
  font-size: 1rem;
  color: rgb(143, 156, 178);
}

.form-select {
  width: fit-content;
}

.form {
  margin-right: 3rem;
}

.Settings {
  height: fit-content;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(143, 156, 178, 0.205);
  margin-bottom: 2rem;
}
