.Attribute {
  background-color: #6246ea;
  color: #fffffe;
  margin: 0 0.6rem;
  padding: 5px 20px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 3px;
  margin: 1rem 1rem 1rem 0.75rem;
  width: fit-content;
  cursor: pointer;
}

.Attribute.db {
  background-color: #e45858;
}
